<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finstagram</title>
</head>
<body>
    <header>
        <h1>Finstagram</h1>
    </header>
    <main role="main">
        <section>
            <div>
                <img src="https://live.staticflickr.com/65535/52358606250_01c667c5da_w.jpg" alt="sharky_j">
                <h2>sharky_j</h2>
                <h3>15 minutes ago</h3>
            </div>
            <a href="#">
            <img src="https://live.staticflickr.com/65535/52358421508_786aa10e2c_c.jpg" alt="post from sharky_j">
            </a>
            <div class="actions">
                0 Likes
                <span class="comment-count">0 Comments</span></soan>
            </div>
            <ul class="comments">
                <li>
                    <p>
                        sharky_j: Out for the long weekend... too embarrassed to show y'all the beach bod!
                    </p>
                </li>
            </ul>
        </section>
    </main>
    
    
</body>
</html>